.experience {
  background: #fff8fb;
  color: #d6336c; 
}

.experience h2 {
  color: #d6336c;
}

.experience .date {
  font-size: 14px;
  color: #670833;
  margin-bottom: 10px;
  font-weight: 900;
}

.experience ul {
  margin-left: 20px;
}

.experience li {
  margin-bottom: 8px;
  color: #d6336c;
}

.experience p {
  color: #d6336c;
}

.experience h3 {
  color: #cc397b;
}
